.show-sidebar{
    /* width: 100%; */
    /* background: red; */
    /* padding: 10px; */
    background-color: var(--blue);
    grid-area: 1 / 1 / 2 / 2;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
    padding-right: 14px;

    width: 100%;
    margin: auto;
}
.show-sidebar button{
    cursor: pointer;
    border: solid var(--green) 2px;
    /* outline: none; */
    width: 100%;
    /* border-radius: 5px; */
    font-size: 22px;
    height: 40px;
    background-color: white;
}

@media screen and (max-width: 1255px) {
    .show-sidebar{    
    padding-right: 10px;
        /* display: none; */
    }
}
@media screen and (max-width: 768px) {
    .show-sidebar{
        padding: 0;
    }
}