::backdrop{
  background-color: rgba(0, 0, 0, 0.7);
}
dialog{
  position: relative;
  align-self: center;
  justify-self: center;
  width: 500px;
  min-height: 350px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 black;
  padding: 20px;
}
.close button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  display: flex;
}
dialog button:not(.close button){
  border: none;
  height: 40px;
  background-color: #43aa71;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.login-btn, .register-btn{
  margin-bottom: 15px;
}