@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
::backdrop{
  background-color: rgba(0, 0, 0, 0.7);
}
dialog{
  position: relative;
  align-self: center;
  justify-self: center;
  width: 500px;
  min-height: 350px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 black;
  padding: 20px;
  margin: auto;
}
.close {
  position: absolute;
  z-index: 3;
  top: 10px;
}
.signUpContainer i.close{
  right: 10px;
} 
.signInContainer i.close{
  left: 10px;
} 
.close button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  display: flex;
}
.container h1 {
  font-weight: 700px;
}

.container p {
  font-size: 14px;
  font-weight: 100px;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 20px 0 30px;
}

.container span {
  font-size: 12px;
}

.container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: calc(100% - 20px);
  min-height: 480px;
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.formContainer form {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.formContainer input {
  background: #eeeeee;
  border: none;
  padding: 12px 15px;
  width: 100%;
  outline: none;
  margin-top: 5px;
}
.formContainer input:focus {
  // border-bottom: solid 2px green;
  // background-image: linear-gradient(to top, #43aa71, rgba(255, 255, 255, 0));
  background: #43aa71;
  color: white;
}
.formContainer input:focus::placeholder {
  color: white;
}
.signUpContainer {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  background-color: red;
}

.signInContainer {
  background-color: red;
  left: 0;
  width: 50%;
  z-index: 2;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #ff416c;
  /* background: -webkit-gradient(linear, left top, right top, from(#ff4b2b), to(#ff416c)) no-repeat 0 0/cover; */
  /* background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0/cover; */
  background: linear-gradient(to right, #43aa71, #40a36c) no-repeat 0 0/cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.overlayPanel {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.overlayRight {
  right: 0;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.overlayLeft {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.socialContainer {
  margin: 20px 0;
}

.socialContainer a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.socialContainer a:hover{
  background: #43aa71;
  color: white;
}

.formContainer button:not(.forgetPassword) ,.overlayPanel button {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background: #43aa71;
  color: #fff;
  font-size: 12px;
  font-weight: 700px;
  padding: 12px 45px;
  letter-spacing: 1px;
  box-shadow: 0 5px 20px -6px rgb(36, 50, 78);
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}
.forgetPassword{
  // background: red;
}

button.signUpButton {
  margin-top: 20px;
}

button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

.container.rightPanelActive .signInContainer {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.container.rightPanelActive .overlayContainer {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container.rightPanelActive .signUpContainer {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container.rightPanelActive .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.container.rightPanelActive .overlayLeft {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container.rightPanelActive .overlayRight {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.verification{
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  width: 100%;
}

.signBtns{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.mobileBtn{
  display: none;
}
.forgetPassword{
  // background: red;
  border: none;
  text-decoration: underline;
  margin: 10px 0;
  background: none;
  cursor: pointer;
  }
  .forgetRow {
  width: 50%;
  // display: flex;
  // gap: 10px;
  margin: 10px 0;
}
.forgetRow button{
  width: 100%;
  padding: 10px 20px!important;
}
.errorMessage{
  color: red;
  font-size: 16px !important;
}
@media screen and (max-width: 576px){
  .container{
    width: calc(100% - 60px);
    min-width: 250px;
  }
  .overlayContainer {
    display: none;
  }
  .formContainer {
    width: 100%;
  }
  .formContainer form {
    padding: 0 20px;
  }
  .formContainer{
    opacity: 1;
  }
  .mobileBtn{
    display: block;
  }
  .mobileLeft{
    left: 100%;
    // background: red;
  }
  
}
@media screen and (max-width: 400px){
  .formContainer button{
    // background: red;
    padding: 12px 23px;
  }
}