.dep-images{
  width: 100%;

}
.imgs-main{
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}
.imgs-main img{
  width: 100%;
}
.slider-imgs{
  max-width: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 5px;
  gap: 5px;
  justify-content: center;
}
.slider-img{
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-img img{
  height: 100%;
  width: auto;
}
.view-images{
  margin-top: 5px;
  display: flex;
  gap: 3px;
  overflow: auto;
}
.view-images > :first-child{
  margin-left: auto;
}
.view-images > :last-child{
  margin-right: auto;
}
.view-image{
  min-width: 100px;
  width: 100px;
  display: flex;
  padding: 2px;
}
.view-image.selected{
  padding: 0;
  border: solid green 2px;
}

@media screen and (max-width: 1255px) {
  .dep-images{
    grid-area: 1 / 1 / 3 / 2;
  }
}